md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools.md-dashboard-title{
  height: 85px;
  max-height: 85px;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1), .md-fab {
  fill: #fff;
}

.md-fab {
  background-colour: ;
}

md-sidenav {
  fill: #737373;
}

ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.clip-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

.dropzone {
  height: 80hv;
  border: 5px solid grey;
  padding: 15px;
}

md-list-item.dragging {
  position: absolute;
}

md-list-item.help {
  min-height: 16px;
}

img.droplet-preview {
    max-width: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 128px;
    width: 128px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border: 1px solid white;
    display: block;
}